html, body {
  padding: 0;
  margin: 0;
  background: #001111;
}

[v-cloak] {
  display: none !important;
}

/**
 * LOGIN PAGE, REGISTER PAGE, NO-JS PAGE
 */
#login-page, #register-page, #no-js {
  outline: 0;
  display: grid;
  grid-template-rows: [header-start] 1fr [header-end main-start] 5fr [main-end];
  background: #001111;
  max-height: 100vh;
}

#login-page *, #register-page *, #no-js * {
  font-family: "Syne Mono";
  color: #F7E8A9;
  user-select: none;
}
#login-page .fixed, #register-page .fixed, #no-js .fixed {
  position: fixed;
  top: 50px;
  right: 50px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #F7E8A9;
  padding: 20px;
  border-radius: 20px;
}
@media (max-width: 1300px) {
  #login-page .fixed, #register-page .fixed, #no-js .fixed {
    position: initial;
    border: none;
  }
  #login-page .fixed > .input-label, #register-page .fixed > .input-label, #no-js .fixed > .input-label {
    display: none;
  }
  #login-page .fixed > a, #register-page .fixed > a, #no-js .fixed > a {
    display: none;
  }
}
#login-page .fixed > button, #register-page .fixed > button, #no-js .fixed > button {
  background-color: #001111;
  color: #F7E8A9;
  border: 1px solid #F7E8A9;
}
#login-page .fixed > button:hover, #register-page .fixed > button:hover, #no-js .fixed > button:hover {
  color: #001111;
  background-color: #F7E8A9;
  border-color: #001111;
}
#login-page .fixed > a, #register-page .fixed > a, #no-js .fixed > a {
  color: #008A8A;
}
#login-page ::selection, #register-page ::selection, #no-js ::selection {
  color: #001111;
  background-color: #F7E8A9;
}
#login-page a, #register-page a, #no-js a {
  text-decoration: none;
}
#login-page a:hover, #register-page a:hover, #no-js a:hover {
  text-decoration: underline;
}
#login-page .caps, #register-page .caps, #no-js .caps {
  font-variant: small-caps;
}
#login-page header, #register-page header, #no-js header {
  text-align: center;
  display: inline-block;
  grid-row: header-start/header-end;
}
#login-page h1, #register-page h1, #no-js h1 {
  padding: 0px;
  display: inline-block;
  font-size: 3em;
}
#login-page .lupara, #register-page .lupara, #no-js .lupara {
  padding-right: 20px;
  animation: rotateTopRight 1s ease-in-out 2s forwards;
}
#login-page .bianca, #register-page .bianca, #no-js .bianca {
  padding-left: 20px;
  animation: rotateTopLeft 1s ease-in-out 2s forwards;
}
@keyframes rotateTopLeft {
  100% {
    transform: rotate(15deg);
    transform-origin: top left;
  }
}
@keyframes rotateTopRight {
  100% {
    transform: rotate(-15deg);
    transform-origin: top right;
  }
}
#login-page header > p, #register-page header > p, #no-js header > p {
  font-size: 1.2em;
  animation: translateSlogan 1s ease-in-out 2s forwards;
}
@keyframes translateSlogan {
  100% {
    transform: translate(0px, 50px);
  }
}
#login-page main, #register-page main, #no-js main {
  margin-top: 100px;
  text-align: center;
  grid-row: main-start/main-end;
}
#login-page .input-label, #register-page .input-label, #no-js .input-label {
  color: #008A8A;
  font-size: 1.5em;
}
#login-page .input, #register-page .input, #no-js .input {
  outline: none;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid #008A8A;
  font-size: 1.5em;
  user-select: initial;
  color: #008A8A;
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
}
#login-page .input::selection, #register-page .input::selection, #no-js .input::selection {
  background-color: #008A8A;
  color: #001111;
}
#login-page button, #register-page button, #no-js button {
  cursor: pointer;
  border-radius: 15px;
  padding: 10px;
  font-size: 1.2em;
}
#login-page #participate, #login-page #register, #register-page #participate, #register-page #register, #no-js #participate, #no-js #register {
  font-size: 1.5em;
  color: #001111;
  background-color: #8D0000;
  border: 1px solid #001111;
}
#login-page #participate:hover, #login-page #register:hover, #register-page #participate:hover, #register-page #register:hover, #no-js #participate:hover, #no-js #register:hover {
  color: #8D0000;
  background-color: transparent;
  border-color: #8D0000;
}
#login-page #login-form, #login-page #register-form, #register-page #login-form, #register-page #register-form, #no-js #login-form, #no-js #register-form {
  font-size: 1em;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/**
 * HOME PAGE
 */
#home-page {
  font-family: "Syne Mono";
  margin: 0;
  padding: 0;
  background: #001111;
  color: #F7E8A9;
  height: 100vh;
  position: relative;
  width: 100vw;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: [aside-start] 150px [aside-end main-start] auto [main-end];
  grid-template-rows: [header-start] 2fr [header-end main-start] 12fr [main-end footer-start] 1fr [footer-end];
}

#home-page {
  /* header start*/
  /* header end */
  /* aside start */
  /*aside end */
  /* main start */
  /*
     main > section {
     }

     #ad {
  grid-area: 1 / 1 / 4 / 4;
     }

     #discount {
  grid-area: 1 / 4 / 4 / 6;
     }

     #new {
  grid-area: 4 / 1 / 6 / 4;
     }

     #live {
  grid-area: 4 / 4 / 6 / 6;
     }
    */
  /*footer start */
  /* footer end */
}
#home-page * {
  box-sizing: border-box;
}
#home-page p {
  margin: 0;
  padding: 0;
}
#home-page header {
  padding: 5px;
  grid-column: aside-start/main-end;
  grid-row: header-start/header-end;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 3fr 8fr 3fr 1fr;
}
#home-page #options-wrapper {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home-page #options {
  display: flex;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #F7E8A9;
  border-radius: 10px;
  transition: background-color 0.5s;
  user-select: none;
}
#home-page #options:hover {
  background-color: #F7E8A9;
  color: #001111;
  border-color: #001111;
}
#home-page #message {
  max-height: 20vh;
  min-width: 20vh;
  overflow-x: scroll;
  user-select: none;
  color: #008A8A;
  margin-left: 50px;
  margin-right: 50px;
  grid-column: 3/4;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid #008A8A;
  overflow: hidden;
  resize: none;
  background-color: transparent;
  font-size: 150%;
}
@media (max-width: 1300px) {
  #home-page #message {
    font-size: 2.5vw;
    padding: 2vw;
  }
}
#home-page #user {
  background-color: none;
  grid-column: 4/5;
  user-select: none;
  display: grid;
  grid-template-rows: 20% 40% 40%;
  grid-template-columns: auto;
  border: 1px solid #F7E8A9;
  border-radius: 5px;
  padding: 5px;
}
@media (max-width: 1300px) {
  #home-page #user {
    display: none;
  }
}
#home-page #name {
  font-size: 150%;
  text-align: center;
}
#home-page #coins, #home-page #emblems {
  background-color: none;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 100%;
  border-bottom: 1px solid #F7E8A9;
}
#home-page #picture {
  background-color: #8D0000;
  grid-column: 5/6;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
@media (max-width: 1300px) {
  #home-page #picture {
    display: none;
  }
}
#home-page aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#home-page .nav {
  margin: 5px;
  background-color: transparent;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 150%;
  border: 1px solid #F7E8A9;
  border-radius: 10px;
  transition: all 0.5s;
  user-select: none;
}
@media (max-width: 1300px) {
  #home-page .nav {
    font-size: 100%;
    height: 10vw;
  }
}
#home-page .nav:hover {
  background-color: #F7E8A9;
  color: #001111;
  border-color: #001111;
}
#home-page main {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  padding: 5px;
}
#home-page #play-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 20px;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 30%;
  height: 30%;
}
#home-page #play {
  background-color: #8D0000;
  color: #001111;
  display: flex;
  width: 400px;
  height: 250px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 800%;
  border-radius: 150px;
  border: 2px solid #001111;
  transition: all 0.5s;
  user-select: none;
}
@media (max-width: 1300px) {
  #home-page #play {
    font-size: 10vw;
    width: 70vw;
    height: 20vw;
    border-radius: 10vw;
  }
}
#home-page #play:hover {
  background-color: transparent;
  color: #8D0000;
  border: 2px solid #8D0000;
}
#home-page footer {
  grid-column: 1/-1;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto 200px 200px;
  grid-template-rows: auto;
  user-select: none;
  padding: 5px;
}
#home-page .footer-item {
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #F7E8A9;
  border-radius: 5px;
  transition: background-color 0.5s;
}
#home-page .footer-item:hover {
  border: 1px solid #001111;
  color: #001111;
  background-color: #F7E8A9;
}
#home-page #notifications {
  grid-column: 3/4;
}
#home-page #friends {
  grid-column: 2/3;
}
#home-page #notifications-window {
  background-color: #001111;
  width: 300px;
  height: 400px;
  overflow-y: auto;
  display: none;
  position: absolute;
  border-radius: 10px;
  border: 1px dotted #8D0000;
}
#home-page #friends-window {
  padding: 5px;
  width: 300px;
  height: 400px;
  overflow-y: auto;
  display: none;
  position: absolute;
  background-color: #001111;
  border-radius: 10px;
  border: 1px dotted black;
}
#home-page #friends-window-wrapper {
  position: relative;
  height: 100%;
}
#home-page #friends-list-wrapper {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  padding: 5px;
}
#home-page #friends-buttons-wrapper {
  position: absolute;
  bottom: 0px;
  border: 1px solid black;
  padding: 5px;
}
#home-page .friend {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  transition: background-color 1s;
}
#home-page .friend:hover {
  background-color: black;
}
#home-page .friend.online {
  background-color: rgba(0, 255, 0, 0.8);
  color: black;
  transition: background-color 2s;
}
#home-page .friend.online:hover {
  background-color: gray;
}
#home-page #chat-container {
  overflow-x: auto;
  direction: rtl;
}
#home-page .chat {
  position: relative;
  width: 150px;
  height: 100%;
  padding: 5px;
}
#home-page .chat > div.remove-button {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: red;
  height: 12px;
  width: 12px;
}
#home-page .chat-window {
  display: none;
  position: absolute;
  height: 400px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  border-radius: 10px 10px 2px 10px;
  overflow-y: auto;
}
#home-page .chat-window.open {
  display: block;
}
#home-page .chat-window-wrapper {
  position: relative;
  height: 100%;
}
#home-page .chat-window-wrapper > p.error-message {
  color: red;
}
#home-page .chat-window-wrapper > p.chat-message {
  color: white;
}
#home-page .chat-window-input-wrapper {
  position: absolute;
  bottom: 0px;
  padding: 5px;
}

/**
 * LOBBY PAGE
 */
#lobby-page {
  font-family: "Syne Mono";
  margin: 0;
  padding: 0;
  padding-top: 50px;
  background: #001111;
  color: #F7E8A9;
  height: 100vh;
  white-space: pre-line;
}
@media (max-width: 1300px) {
  #lobby-page {
    padding-top: 10px;
  }
}
#lobby-page * {
  user-select: none;
}
#lobby-page *::selection {
  background-color: #008A8A;
  color: #001111;
}
#lobby-page p.title {
  text-align: center;
  font-size: 2em;
}
#lobby-page p.left-text {
  color: #008A8A;
  margin: 40px;
  float: left;
  width: 20%;
}
@media (max-width: 1300px) {
  #lobby-page p.left-text {
    display: none;
  }
}
#lobby-page p.right-text {
  float: right;
  margin: 40px;
  width: 20%;
}
@media (max-width: 1300px) {
  #lobby-page p.right-text {
    display: none;
  }
}
#lobby-page #room-list {
  user-select: initial;
  border: 1px solid #008A8A;
  border-radius: 20px;
  display: none;
  margin: auto;
  margin-bottom: 20px;
  height: 500px;
  width: 800px;
  background-color: #001111;
  color: #008A8A;
  overflow-y: scroll;
  list-style-type: none;
  padding: 10px;
  display: block;
}
@media (max-width: 1300px) {
  #lobby-page #room-list {
    width: 80vw;
    height: 50vh;
  }
}
#lobby-page #room-list * {
  user-select: initial;
}
#lobby-page #room-list * {
  overflow-anchor: none;
}
#lobby-page #room-list > li {
  display: block;
}
#lobby-page #room-list > li > p {
  font-size: 20px;
  margin: 5px;
}
#lobby-page span.author {
  color: #F7E8A9;
}
#lobby-page span.notification {
  color: #8D0000;
}
#lobby-page #anchor {
  overflow-anchor: auto;
  height: 1px;
  display: block;
}
#lobby-page .lobby-button {
  border: none;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#lobby-page #message-input {
  user-select: initial;
  outline: none;
  display: block;
  margin: auto;
  width: 300px;
  font-size: 1.5em;
  border-radius: 101px;
  background-color: #001111;
  color: #008A8A;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid #008A8A;
}
#lobby-page #send-button, #lobby-page #connect-button {
  font-size: 20px;
  height: 100px;
  width: 170px;
  background-color: transparent;
  color: #F7E8A9;
  border: 1px solid #F7E8A9;
  border-radius: 20px;
}
#lobby-page #send-button:hover, #lobby-page #connect-button:hover {
  border: none;
  background-color: #F7E8A9;
  color: #001111;
}
#lobby-page #goto-home {
  user-select: none;
  margin-top: 20px;
  border: 1px solid #8D0000;
  color: #8D0000;
  border-radius: 10px;
  background-color: #001111;
}
#lobby-page #goto-home:hover {
  background-color: #8D0000;
  color: #001111;
  border-color: #001111;
}

/**
 * ROOM PAGE
 */
#room-page {
  margin: auto;
  margin-top: 50px;
  height: 500px;
  width: 800px;
  background-color: #001111;
  overflow-y: scroll;
  list-style-type: none;
  padding: 0px;
  display: block;
  /* display: none;*/
}

#room-page #chat-wrapper {
  display: inline-block;
}
#room-page #chat-window {
  position: relative;
  display: block;
  height: 500px;
  width: 300px;
  background-color: #444444;
  color: white;
  overflow-y: scroll;
  list-style-type: none;
  padding: 5px;
}
#room-page #chat-window > form {
  position: absolute;
  bottom: 0px;
}
#room-page #chat-window > p {
  margin: 5px;
  font-size: 14px;
  min-height: 24px;
  border-bottom: 1px solid rgba(255, 0, 0, 0.3);
  word-wrap: break-word;
}
#room-page #leave-room-button {
  padding: 5px;
  background-color: black;
  color: red;
  font-size: 20px;
  display: inline-block;
}
#room-page #start-game-button {
  padding: 5px;
  background-color: black;
  color: red;
  font-size: 20px;
  display: none;
}
#room-page #role-list {
  margin: auto;
  height: 500px;
  width: 300px;
  background-color: #444444;
  overflow-y: scroll;
  list-style-type: none;
  padding: 0px;
  display: inline-block;
}
#room-page #role-list > li {
  display: block;
  padding: 5px 0px 5px 0px;
  border-bottom: 1px solid rgba(255, 0, 0, 0.3);
}
#room-page #role-list > li > p {
  font-size: 20px;
  margin: 0px 0px 0px 5px;
}
#room-page li[data-alignment=mafia] {
  color: red;
  background-color: black;
}
#room-page li[data-alignment=town] {
  color: yellow;
  background-color: darkblue;
}
#room-page li[data-alignment=neutral] {
  color: lightblue;
  background-color: grey;
}
#room-page #chosen-roles-list {
  margin: 0px;
  height: 500px;
  width: 300px;
  background-color: #444444;
  overflow-y: scroll;
  list-style-type: none;
  padding: 0px;
  display: inline-block;
}
#room-page #chosen-roles-list > li {
  display: block;
  border-bottom: 1px solid rgba(255, 0, 0, 0.3);
}
#room-page #chosen-roles-list > li > p {
  font-size: 20px;
  margin: 5px;
}

/*# sourceMappingURL=index.css.map */
