@charset "UTF-8";

$dark-swamp: #001111;
$red: #8D0000;
$teal: #008A8A;
$beige: #F7E8A9;
$font: "Syne Mono";

$layout-breakpoint: 1300px;

html, body {
    padding: 0;
    margin: 0;
    background: $dark-swamp;
}

[v-cloak] {
    display: none !important;
}

/**
 * LOGIN PAGE, REGISTER PAGE, NO-JS PAGE
 */

#login-page, #register-page, #no-js {
    outline: 0;
    display: grid;
    grid-template-rows: [header-start] 1fr [header-end main-start] 5fr [main-end];
    background: $dark-swamp;
    max-height: 100vh;
}

#login-page, #register-page, #no-js {
    
    * {
	font-family: $font;
	color: $beige;
	user-select: none;
    }

    .fixed {
	position: fixed;
	top: 50px;
	right: 50px;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid $beige;
	padding: 20px;
	border-radius: 20px;

	@media (max-width: $layout-breakpoint) {
	    position: initial;
	    border: none;

	    & > .input-label {
		display: none;
	    }

	    & > a {
		display: none;
	    }
	}
	
	& > button {
	    background-color: $dark-swamp;
	    color: $beige;
	    border: 1px solid $beige;
	}

	& > button:hover {
	    color: $dark-swamp;
	    background-color: $beige;
	    border-color: $dark-swamp;
	}
	
	& > a {
	    color: $teal;
	}
    }
    
    ::selection {
	color: $dark-swamp;
	background-color: $beige;
    }

    a {
	text-decoration: none;
    }

    a:hover {
	text-decoration: underline;
    }

    .caps {
	font-variant: small-caps;
    }

    header {
	text-align: center;
	display: inline-block;
	grid-row: header-start / header-end;
    }

    h1 {
	padding: 0px;
	display: inline-block;
	font-size: 3em;
    }

    .lupara {
	padding-right: 20px;
	animation: rotateTopRight 1s ease-in-out 2s forwards;
    }

    .bianca {
	padding-left: 20px;
	animation: rotateTopLeft 1s ease-in-out 2s forwards;
    }

    @keyframes rotateTopLeft {
	100% {
            transform: rotate(15deg);
            transform-origin: top left;
	}
    }

    @keyframes rotateTopRight {
	100% {
            transform: rotate(-15deg);
            transform-origin: top right;
	}
    }
    
    header > p {
	font-size: 1.2em;
	animation: translateSlogan 1s ease-in-out 2s forwards;
    }

    @keyframes translateSlogan {
	100% {
            transform: translate(0px, 50px);
	}
    }

    main {
	margin-top: 100px;
	text-align: center;
	grid-row: main-start / main-end;
    }

    .input-label {
	color: $teal;
	font-size: 1.5em;
    }

    .input {
	outline: none;
	background-color: transparent;
	border-radius: 30px;
	border: 1px solid $teal;
	font-size: 1.5em;
	user-select: initial;
	color: $teal;
	padding: 10px;
	width: 300px;
	margin-bottom: 20px;

    }

    .input::selection {
	background-color: $teal;
	color: $dark-swamp;
    }

    button {
	cursor: pointer;
	border-radius: 15px;
	padding: 10px;
	font-size: 1.2em;
    }
    
    #participate, #register {
	font-size: 1.5em;
	color: $dark-swamp;
	background-color: $red;
	border: 1px solid $dark-swamp;
    }

    #participate:hover, #register:hover {
	color: $red;
	background-color: transparent;
	border-color: $red;
    }

    #login-form, #register-form {
	font-size: 1em;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    }
}

/**
 * HOME PAGE
 */

#home-page {
    font-family: $font;
    margin: 0;
    padding: 0;
    background: $dark-swamp;
    color: $beige;
    height: 100vh;
    position: relative;
    width: 100vw;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: [aside-start] 150px [aside-end main-start] auto [main-end];
    grid-template-rows: [header-start] 2fr [header-end main-start] 12fr [main-end footer-start] 1fr [footer-end];
}

#home-page {
    * {
	box-sizing: border-box;
    }

    p {
	margin: 0;
	padding: 0;
    }

    /* header start*/

    header {
	padding: 5px;
	grid-column: aside-start / main-end;
	grid-row: header-start / header-end;
	display: grid;
	grid-column-gap: 10px;
	grid-template-columns: 1fr 3fr 8fr 3fr 1fr;
    }

    #options-wrapper {
	grid-column: 1 / 2;
	display: flex;
	justify-content: center;
	align-items: center;
    }

    #options {
	display: flex;
	height: 70px;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 1px solid $beige;
	border-radius: 10px;
	transition: background-color 0.5s;
	user-select: none;

	&:hover {
	    background-color: $beige;
	    color: $dark-swamp;
	    border-color: $dark-swamp;
	}
    }

    #message {
	max-height: 20vh;
	min-width: 20vh;
	overflow-x: scroll;
	user-select: none;
	color: $teal;
	margin-left: 50px;
	margin-right: 50px;
	grid-column: 3 / 4;
	padding: 30px;
	border-radius: 5px;
	border: 1px solid $teal;
	overflow: hidden;
	resize: none;
	background-color: transparent;
	font-size: 150%;

	@media (max-width: $layout-breakpoint) {
	    font-size: 2.5vw;
	    padding: 2vw;
	}
    }

    #user {
	@media (max-width: $layout-breakpoint) {
	    display: none;
	}
	background-color: none;
	grid-column: 4 / 5;
	user-select: none;
	display: grid;
	grid-template-rows: 20% 40% 40%;
	grid-template-columns: auto;
	border: 1px solid $beige;
	border-radius: 5px;
	padding: 5px;
    }

    #name {
	font-size: 150%;
	text-align: center;
    }

    #coins, #emblems {
	background-color: none;
	padding-top: 5px;
	padding-left: 5px;
	font-size: 100%;
	border-bottom: 1px solid $beige;
	
    }

    #picture {
	@media (max-width: $layout-breakpoint) {
	    display: none;
	}
	background-color: $red;
	grid-column: 5 / 6;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
    }
    
    /* header end */

    /* aside start */

    aside {
	display: flex;
	flex-direction: column;
	justify-content: center;
    }

    .nav {	
	margin: 5px;
	background-color: transparent;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 150%;
	border: 1px solid $beige;
	border-radius: 10px;
	transition: all 0.5s;
	user-select: none;

	@media (max-width: $layout-breakpoint) {
	    font-size: 100%;
	    height: 10vw;
	}
	&:hover {
	    background-color: $beige;
	    color: $dark-swamp;
	    border-color: $dark-swamp;
	}
    }

    /*aside end */

    /* main start */

    main {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-template-rows: auto auto auto auto auto;
	padding: 5px;
    }

    #play-wrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-top: 20px;
	display: flex;
	justify-content: center;
	margin: auto;
	width: 30%;
	height: 30%;
    }

    #play {
	background-color: $red;
	color: $dark-swamp;
	display: flex;
	width: 400px;
	height: 250px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-decoration: none;
	font-size: 800%;
	border-radius: 150px;
	border: 2px solid $dark-swamp;
	transition: all 0.5s;
	user-select: none;

	@media (max-width: $layout-breakpoint) {
	    font-size: 10vw;
	    width: 70vw;
	    height: 20vw;
	    border-radius: 10vw;
	}
    }

    #play:hover {
	background-color: transparent;
	color: $red;
	border: 2px solid $red;
    }

    /*
    main > section {
    }

    #ad {
	grid-area: 1 / 1 / 4 / 4;
    }

    #discount {
	grid-area: 1 / 4 / 4 / 6;
    }

    #new {
	grid-area: 4 / 1 / 6 / 4;
    }

    #live {
	grid-area: 4 / 4 / 6 / 6;
    }
   */
    /*footer start */

    footer {
	grid-column: 1 / -1;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: auto 200px 200px;
	grid-template-rows: auto;
	user-select: none;
	padding: 5px;
    }

    .footer-item {
	background-color: none;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 1px solid $beige;
	border-radius: 5px;
	transition: background-color 0.5s;

	&:hover {
	    border: 1px solid $dark-swamp;
	    color: $dark-swamp;
	    background-color: $beige;
	}
    }

    #notifications {
	grid-column: 3 / 4;
    }

    #friends {
	grid-column: 2 / 3;
    }

    #notifications-window {
	background-color: $dark-swamp;
	width: 300px;
	height: 400px;
	overflow-y: auto;
	display: none;
	position: absolute;
	border-radius: 10px;
	border: 1px dotted $red;
    }

    #friends-window {
	padding: 5px;
	width: 300px;
	height: 400px;
	overflow-y: auto;
	display: none;
	position: absolute;
	background-color: $dark-swamp;
	border-radius: 10px;
	border: 1px dotted black;
    }

    #friends-window-wrapper {
	position: relative;
	height: 100%;
    }

    #friends-list-wrapper {
	display: flex;
	justify-content: center;
	border: 1px solid black;
	padding: 5px;
    }

    #friends-buttons-wrapper {
	position: absolute;
	bottom: 0px;
	border: 1px solid black;
	padding: 5px;
    }

    .friend {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	width: 200px;
	background-color: rgba(0,0,0,.5);
	color: white;
	transition: background-color 1s;
    }

    .friend:hover {
	background-color: black;
    }

    .friend.online {
	background-color: rgba(0,255,0,.8);
	color: black;
	transition: background-color 2s;
    }

    .friend.online:hover {
	background-color: gray;
    }

    #chat-container {
	overflow-x: auto;
	direction: rtl;
    }

    .chat {
	position: relative;
	width: 150px;
	height: 100%;
	padding: 5px;
    }

    .chat > div.remove-button {
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: red;
	height: 12px;
	width: 12px;
    }

    .chat-window {
	display: none;
	position: absolute;
	height: 400px;
	width: 200px;
	background-color: rgba(0,0,0,.5);
	border: 1px solid black;
	border-radius: 10px 10px 2px 10px;
	overflow-y: auto;
    }

    .chat-window.open {
	display: block;
    }

    .chat-window-wrapper {
	position: relative;
	height: 100%;
    }

    .chat-window-wrapper > p.error-message {
	color: red;
    }

    .chat-window-wrapper > p.chat-message {
	color: white;
    }

    .chat-window-input-wrapper {
	position: absolute;
	bottom: 0px;
	padding: 5px;
    }
    /* footer end */

}

/**
 * LOBBY PAGE
 */

#lobby-page {
    font-family: $font;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    background: $dark-swamp;
    color: $beige;
    height: 100vh;
    white-space: pre-line;

    @media (max-width: $layout-breakpoint) {
	padding-top: 10px;
    }

    * {
	user-select: none;
    }

    *::selection {
	background-color: $teal;
	color: $dark-swamp;
    }
    
    p.title {
	text-align: center;
	font-size: 2em;
    }

    p.left-text {
	color: $teal;
	margin: 40px;
	float: left;
	width: 20%;

	@media (max-width: $layout-breakpoint) {
	    display: none;
	}
    }

    p.right-text {
	float: right;
	margin: 40px;
	width: 20%;

	@media (max-width: $layout-breakpoint) {
	    display: none;
	}
    }
    
    #room-list {
	user-select: initial;
	border: 1px solid $teal;
	border-radius: 20px;
	display: none;
	margin: auto;
	margin-bottom: 20px;
	height: 500px;
	width: 800px;
	background-color: $dark-swamp;
	color: $teal;
	overflow-y: scroll;
	list-style-type: none;
	padding: 10px;
	display: block;

	@media (max-width: $layout-breakpoint) {
	    width: 80vw;
	    height: 50vh;
	}

	* {
	    user-select: initial;
	}
    }

    #room-list * {
	overflow-anchor: none;
    }
    
    #room-list > li {
	display: block;
    }

    #room-list > li > p { 
	font-size: 20px;
	margin: 5px;
    }

    span.author {
	color: $beige;
    }

    span.notification {
	color: $red;
    }
    
    #anchor {
	overflow-anchor: auto;
	height: 1px;
	display: block;
    }
    
    .lobby-button {
	border: none;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
    }

    #message-input {
	user-select: initial;
	outline: none;
	display: block;
	margin: auto;
	width: 300px;
	font-size: 1.5em;
	border-radius: 101px;
	background-color: $dark-swamp;
	color: $teal;
	padding: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
	border: 1px solid $teal;
    }
    
    #send-button, #connect-button {
	font-size: 20px;
	height: 100px;
	width: 170px;
	background-color: transparent;
	color: $beige;
	border: 1px solid $beige;
	border-radius: 20px;

	&:hover {
	    border: none;
	    background-color: $beige;
	    color: $dark-swamp;
	}
    }

    #goto-home {
	user-select: none;
	margin-top: 20px;
	border: 1px solid $red;
	color: $red;
	border-radius: 10px;
	background-color: $dark-swamp;

	&:hover {
	    background-color: $red;
	    color: $dark-swamp;
	    border-color: $dark-swamp;
	}
    }
    
}

/**
 * ROOM PAGE
 */

#room-page {
    margin: auto;
    margin-top: 50px;
    height: 500px;
    width: 800px;
    background-color: $dark-swamp;
    overflow-y: scroll;
    list-style-type: none;
    padding: 0px;
    display: block;
    /* display: none;*/
}

#room-page {

    #chat-wrapper {
	display: inline-block;
    }

    #chat-window {
	position: relative;
	display: block;
	height: 500px;
	width: 300px;
	background-color: #444444;
	color: white;
	overflow-y: scroll;
	list-style-type: none;
	padding: 5px;
    }

    #chat-window > form {
	position: absolute;
	bottom: 0px;
    }

    #chat-window > p {
	margin: 5px;
	font-size: 14px;
	min-height: 24px;
	border-bottom: 1px solid rgba(255,0,0,.3);
	word-wrap: break-word;
    }

    #leave-room-button {
	padding: 5px;
	background-color: black;
	color: red;
	font-size: 20px;
	display: inline-block;
    }

    #start-game-button {
	padding: 5px;
	background-color: black;
	color: red;
	font-size: 20px;
	display: none;
    }

    #role-list {
	margin: auto;
	height: 500px;
	width: 300px;
	background-color: #444444;
	overflow-y: scroll;
	list-style-type: none;
	padding: 0px;
	display: inline-block;
    }

    #role-list > li {
	display: block;
	padding: 5px 0px 5px 0px;
	border-bottom: 1px solid rgba(255,0,0,.3);
    }

    #role-list > li > p {
	font-size: 20px;
	margin: 0px 0px 0px 5px;
    }

    li[data-alignment="mafia"] {
	color: red;
	background-color: black;
    }

    li[data-alignment="town"] {
	color: yellow;
	background-color: darkblue;
    }

    li[data-alignment="neutral"] {
	color: lightblue;
	background-color: grey;
    }

    #chosen-roles-list {
	margin: 0px;
	height: 500px;
	width: 300px;
	background-color: #444444;
	overflow-y: scroll;
	list-style-type: none;
	padding: 0px;
	display: inline-block;   
    }

    #chosen-roles-list > li {
	display: block;
	border-bottom: 1px solid rgba(255,0,0,.3);
    }

    #chosen-roles-list > li > p { 
	font-size: 20px;
	margin: 5px;
    }
}
